<div class="match-container">
  <h2>Matches</h2>
  <h3>This functionality is future scope: Because cool things take time!</h3>
  <div *ngIf="matches.length > 0; else noMatches">
    <div *ngFor="let match of matches" class="match-card">
      <h3>Match ID: {{ match.id }}</h3>
      <p>Truck ID: {{ match.truckId }} matches with Truck ID: {{ match.matchedTruckId }}</p>
      <p>Details: {{ match.matchDetails }}</p>
    </div>
  </div>
  <ng-template #noMatches>
    <p>No matches found.</p>
  </ng-template>
</div>
